<div class="main">
  <div class="head">
    <div class="logo">
      <img src="../../../../assets/icons/Frame 3.png" alt="" />
    </div>
    <div class="search">
      <img src="../../../../assets/icons/Icon.png" alt="" />
      <input placeholder="Search..." />
    </div>
    <div class="sidebar">
      <div class="flex">
        <img src="../../../../assets/icons/HouseSimple.png" alt="" />
        <span>Home</span>
      </div>
      <div class="flex">
        <img src="../../../../assets/icons/ListBullets.png" alt="" />
        <span>Tasks</span>
      </div>
      <div class="flex">
        <img src="../../../../assets/icons/Users.png" alt="" />
        <span>Users</span>
      </div>
      <div class="flex">
        <img src="../../../../assets/icons/Cube.png" alt="" />
        <span>APIs</span>
      </div>
      <div class="flex">
        <img src="../../../../assets/icons/CreditCard.png" alt="" />
        <span>Subscription</span>
      </div>
      <div class="flex">
        <img src="../../../../assets/icons/GearSix.png" alt="" />
        <span>Settings</span>
      </div>
      <div class="flex">
        <img src="../../../../assets/icons/ChatTeardropDots.png" alt="" />
        <span>Help & Support</span>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="warning">
      <div class="wr-btn">
        <img src="../../../../assets/icons/Icon Container.png" alt="" />
        <img
          style="width: 20px; height: 20px"
          src="../../../../assets/icons/X.png"
          alt=""
        />
      </div>
      <div class="desc">
        <p>
          Enjoy unlimited access to our app with only a small price monthly.
        </p>
      </div>
      <div class="foot-desc">
        <p>Dismiss</p>
        <span>Go Pro</span>
      </div>
    </div>
    <div class="user">
      <div class="usser">
        <div class="user-logo">
          <img src="../../../../assets/icons/Avatar (6).png" alt="">
        </div>
        <div class="user-info">
          <span>Azunyan U. Wu</span>
          <p>Basic Member</p>
        </div>
      </div>
      <div class="logout">
        <img style="width: 24px; height: 24px;" src="../../../../assets/icons/Monotone add (1).png" alt="">
      </div>
    </div>
  </div>
</div>
