<div class="register">
  <div class="logo">
    <img src="../../../assets/icons/Frame 3.svg" alt="">
  </div>
  <div class="block">
    <div class="input">
      <img src="../../../assets/icons/Email.svg" alt="">
      <input type="text" placeholder="Email">
    </div>
    <div class="input">
      <img src="../../../assets/icons/User-Circle-2.svg" alt="">
      <input type="text" placeholder="Username">
    </div>
    <div class="input">
      <img src="../../../assets/icons/Unlock.svg" alt="">
      <input type="text" placeholder="Password">
    </div>
    <div class="input">
      <img src="../../../assets/icons/Unlock.svg" alt="">
      <input type="text" placeholder="Confirm Password">
    </div>
    <div class="register-foot">
      <button>Register</button>
      <div class="login">
        <p>Do you have an account?</p>
        <span>Log In</span>
      </div>
    </div>
    <div class="links-block">
      <div class="links">
          <img src="../../../assets/icons/Google Plus.png" alt="">
          <img src="../../../assets/icons/VK.png" alt="">
          <img src="../../../assets/icons/Youtube.png" alt="">
      </div>
    </div>
  </div>
</div>