<style>
  @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
</style>
<app-navbar />
<div class="container">
  <div class="user-main">
    <div class="users">
      <h3>Users</h3>
      <div class="user-list">
        <div class="user-card">
          <div class="user-logo">
            <img src="assets/icons/Avatar (5).png" alt="" />
            <div class="user-name">
              <span>Julia Smith</span>
              <p>juliasmith</p>
            </div>
          </div>
          <div class="follow-btn">
            <button>Follow +</button>
          </div>
        </div>
        <div class="user-card">
          <div class="user-logo">
            <img src="assets/icons/Avatar (5).png" alt="" />
            <div class="user-name">
              <span>Julia Smith</span>
              <p>juliasmith</p>
            </div>
          </div>
          <div class="follow-btn">
            <button>Follow +</button>
          </div>
        </div>
        <div class="user-card">
          <div class="user-logo">
            <img src="assets/icons/Avatar (5).png" alt="" />
            <div class="user-name">
              <span>Julia Smith</span>
              <p>juliasmith</p>
            </div>
          </div>
          <div class="follow-btn">
            <button>Follow +</button>
          </div>
        </div>
        <div class="user-card">
          <div class="user-logo">
            <img src="assets/icons/Avatar (5).png" alt="" />
            <div class="user-name">
              <span>Julia Smith</span>
              <p>juliasmith</p>
            </div>
          </div>
          <div class="follow-btn">
            <button>Follow +</button>
          </div>
        </div>
        <div class="user-card">
          <div class="user-logo">
            <img src="assets/icons/Avatar (5).png" alt="" />
            <div class="user-name">
              <span>Julia Smith</span>
              <p>juliasmith</p>
            </div>
          </div>
          <div class="unfollow-btn">
            <button>unfollow +</button>
          </div>
        </div>
        <div class="user-card">
          <div class="user-logo">
            <img src="assets/icons/Avatar (5).png" alt="" />
            <div class="user-name">
              <span>Julia Smith</span>
              <p>juliasmith</p>
            </div>
          </div>
          <div class="follow-btn">
            <button>Follow +</button>
          </div>
        </div>
      </div>
    </div>
    <div class="users-friend">
      <div class="see-all">
        <h5>Friend Suggestions</h5>
        <div class="see-aall">
          <p>See All</p>
          <img src="assets/icons/ArrowUpRight.png" alt="">
        </div>
      </div>
      <div appHighlight class="freind-card">
        <div class="user-logo">
          <img src="assets/icons/Avatar (5).png" alt="" />
          <div class="user-name">
            <span>Julia Smith</span>
            <p>juliasmith</p>
          </div>
        </div>
        <div class="follow-btn">
          <button> +</button>
        </div>
      </div>
      <div class="freind-card">
        <div class="user-logo">
          <img src="assets/icons/Avatar (5).png" alt="" />
          <div class="user-name">
            <span>Julia Smith</span>
            <p>juliasmith</p>
          </div>
        </div>
        <div class="follow-btn">
          <button> +</button>
        </div>
      </div>
      <div class="freind-card">
        <div class="user-logo">
          <img src="assets/icons/Avatar (5).png" alt="" />
          <div class="user-name">
            <span>Julia Smith</span>
            <p>juliasmith</p>
          </div>
        </div>
        <div class="follow-btn">
          <button> +</button>
        </div>
      </div>
      <div class="freind-card">
        <div class="user-logo">
          <img src="assets/icons/Avatar (5).png" alt="" />
          <div class="user-name">
            <span>Julia Smith</span>
            <p>juliasmith</p>
          </div>
        </div>
        <div class="follow-btn">
          <button> +</button>
        </div>
      </div>
      <div class="freind-card">
        <div class="user-logo">
          <img src="assets/icons/Avatar (5).png" alt="" />
          <div class="user-name">
            <span>Julia Smith</span>
            <p>juliasmith</p>
          </div>
        </div>
        <div class="follow-btn">
          <button> +</button>
        </div>
      </div>
    </div>
  </div>
</div>