<div class="profile-info">
  <img src="../../../../../../assets/icons/Avatar (3).png" alt="">
  <button class="change-photo">Change photo</button>
  <button class="delete">Delete</button>
</div>
<div class="main">
  <div class="main-info">
    <h4>Info</h4>
    <div class="info-name">
      <div class="grey">
        <input class="grey" type="text" placeholder="Last Name">
      </div>
      <input type="text" placeholder="FullName">
    </div>
    <div class="greyy">
      <input class="greyy" type="text" placeholder="City">
    </div>
    <input type="text" placeholder="Story">
    <div class="Save">
      <button>Save</button>
    </div>
  </div>
  <div class="main-password">
    <h4>Password</h4>
    <div class="info-password">
      <input type="text" placeholder="Old Password">
      <input type="text" placeholder="Old Password">
      <input type="text" placeholder="Old Password">
    </div>
    <div class="Save">
      <button>Save</button>
    </div>
  </div>
</div>
