* {
  padding: 0px;
  margin: 0px;
  font-family: "Plus Jakarta Sans", serif;
}

.container {
  padding-bottom: 72px;
  padding-left: 32px;
  padding-right: 36px;
  padding-top: 24px;
  background-color: var(--background);
}

.user-main{
  display: flex;
  gap: 24px;
}


.users {
  width: 900px;
  display: flex;
  flex-direction: column;
  border-right: 2px solid rgb(210, 219, 231);
  gap: 34px;
  h3{
    padding-bottom: 34px;
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
  }
}

.user-list{
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}



.user-card {
  max-width: 971px;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid rgba(226, 232, 240, 1);
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgb(194, 204, 217);
}

.user-logo {
  width: 200px;
  display: flex;
  gap: 24px;
  padding-left: 2px;
  img{
  }
}

.user-name {
  span {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: rgba(71, 85, 105, 1);
  }

  p{
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
    color: rgba(71, 85, 105, 1);
  }

}

.follow-btn{
  padding-right: 8px;
  button{
    padding: 12px 22px;
    border: 1px solid rgba(79, 70, 229, 1);
    border-radius: 1234px;
    background-color: rgba(79, 70, 229, 1);
    color: white;
    font-weight: 700;
    font-size: 14px;
  }
}

.unfollow-btn{
  padding-right: 8px;
  button{
    padding: 12px 22px;
    border: 1px solid rgba(236, 236, 236, 1);
    border-radius: 1234px;
    background-color: rgba(242, 115, 115, 1);
    color: white;
    font-weight: 700;
    font-size: 14px;
  }
}

.users-friend{
  width: 420px;
  .see-all{
    display: flex;
    gap: 140px;
    h5{
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.see-aall{
  padding-bottom: 66px;
  width: 100px;
  display: flex;
  gap: 20px;
  p{
    color: rgba(79, 70, 229, 1);
  }
}


.freind-card{
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgb(194, 204, 217);
}