<style>
  @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
</style>
<app-navbar/>
<div class="container">
  <h3>Profile</h3>
  <div class="profile-pages">
    <div class="info">
      <img src="../../../../../../assets/icons/User-Circle-2.png" alt="" />
      <p>Info</p>
    </div>
    <div class="settings">
      <img src="../../../../../../assets/icons/Monotone add.png" alt="" />
      <p>Settings</p>
    </div>
    <div class="devices">
      <img src="../../../../../../assets/icons/Fingerprint.png" alt="" />
      <p>Devices</p>
    </div>
  </div>
  <div class="profile-main">
    <div class="appearance">
      <h4>Appearance</h4>
      <div class="theme">
        <input type="text" placeholder="Theme" />
      </div>
      <div class="font">
        <input type="text" placeholder="Font size" />
      </div>
      <div class="Interface">
        <input type="text" placeholder="Interface language" />
      </div>
      <div class="Save">
        <button>Save</button>
       </div>
    </div>
    <div class="accesses">
      <h2>Accesses</h2>

      <label class="toggle-switch">
          <input type="checkbox" checked>
          <span class="slider"></span>
          <span class="label-text">Hide profile</span>
      </label>

      <label class="toggle-switch">
          <input type="checkbox" checked>
          <span class="slider"></span>
          <span class="label-text">Push notifications</span>
      </label>

      <label class="toggle-switch">
          <input type="checkbox">
          <span class="slider"></span>
          <span class="label-text">Email-уведомления</span>
      </label>

      <label class="toggle-switch">
          <input type="checkbox">
          <span class="slider"></span>
          <span class="label-text">SMS-уведомления</span>
      </label>
    </div>
  </div>
</div>
