<!-- <p>Моя мини-соцсеть</p> -->
<!-- <app-profile/> -->
  <!-- <app-feed/> -->

<app-card/>
  <!-- <app-navbar/> -->
  <!-- <app-profile-info/> -->
   <!-- <app-profile-settings/> -->

<!-- <app-users/> -->


  <!-- <div>
    <h2>Активный пользователь: {{ userService.activeUser.name }}</h2>
  </div>

  <h2>Список пользователей</h2>
  <ul>
    <li *ngFor="let user of userService.users ">
      <p>{{user.name}}</p>
      <button (click)="switchUser(user.id)">Сменить пользователя</button>
    </li>
  </ul>

  <h2>Список постов</h2>
<ul>
  <li *ngFor="let post of postService.posts">
    <h3>{{ post.title }}</h3>
    <p>{{ post.content }}</p>
    <p>❤️ Лайки: {{ post.likes }}</p>

    <button (click)="likePost(post.id)">👍 Лайк</button>

    <button (click)="toggleComments(post.id)">
      {{ post.showComments ? 'Скрыть комментарии' : 'Показать комментарии' }}
    </button>

    <div *ngIf="post.showComments">
      <p>{{post.comments}}</p>
    </div>
  </li>
</ul> -->
