<div class="container1">
  <h3>Profile</h3>
  <div class="profile-pages">
    <div routerLink="info" class="info">
      <img src="../../../../../../assets/icons/User-Circle-2.png" alt="" />
      <p>Info</p>
    </div>
    <div routerLink="settings" class="info">
      <img src="../../../../../../assets/icons/Monotone add.png" alt="" />
      <p>Settings</p>
    </div>
    <div routerLink="devices" class="info">
      <img src="../../../../../../assets/icons/Fingerprint.png" alt="" />
      <p >Devices</p>
    </div>
  </div>
  <router-outlet/>
</div>
 