* {
  padding: 0px;
  margin: 0px;
  font-family: "Plus Jakarta Sans", serif;
}

.container {
  padding-top: 24px;
  padding-left: 32px;

  h3 {
    padding-bottom: 22px;
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
  }
}

.profile-pages {
  display: flex;
  gap: 30px;
}

